<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="step01">
        <div v-if="isTrue">
            <p>참인경우</p>
        </div>
        <div v-if="!isTrue">
            <p>참이 아닌 경우</p>
        </div>
        <hr>
    </div>

    <script>
        const {createApp, ref} = Vue

        createApp({
            setup(){
                const isTrue = ref(false);
                const truthy = ref("Truthy");
                const falsy = ref("");
                return {
                    isTrue,
                    truthy,
                    falsy
                }
            }
        }).mount("#step01")
    </script>
</body>
</html>